/.idea
/node_modules
/public/hot
/public/assets
/public/storage
/public/assets/frontend/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sonar-project.properties
.scannerwork
