/*================================  preloader css start ========================================*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url('../images/preloader.gif') no-repeat center center;
}
/*=====================================  preloader css end =====================================*/

/*======================================  common css start =========================================*/
*{
	margin: 0;
	padding: 0;
	list-style: none
}
p,
h1,
h2,
h3,
h4,
h5,
h6{margin: 0; padding: 0;}
img
{
    max-width: 100%;
    height: auto;
}
input:focus, textarea:focus{
    outline: none;
}
body
{
    background: url(../images/bg-img.png) scroll repeat;
    height: 100%;
    font-family: 'Droid Sans', sans-serif;
}
a:hover, a:focus{text-decoration: none}
a{
    text-decoration: none;
}
textarea{
	resize: none;
}
a:focus {
  outline: medium none;
  outline-offset: 0;
}
/*================================  common css end =================================*/
/*========================================  top-area css start ====================================*/
.top-area-content {
  margin: 20px 0;
}
.social-icon a {
    background: #f4b85c none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    width: 30px;
}

.social-icon a img {
    border-radius: 50%;
}
.social-icon a img:hover {
    background: none repeat scroll 0 0;
    cursor: default;
}
#avatar-text{
    margin-left: 5px;
    font-family: "Fira Code";
}
.social-icon a label:hover {
    cursor: default;
}

.social-icon i {
    padding-top: 8px;
}
.social-icon a:hover {
    background: #a7a7a7 none repeat scroll 0 0;
}
.social-icon {
  margin-top: 13px;
}
/*=================================== top-area css end ====================================*/
/*===================================  menu-area css start =======================================*/
.nav.navbar-nav li {
  margin-right: 15px;
}
.navbar-nav > li > a {
  color: #787878;
  font-size: 14px;
  -webkit-transition: 0.5s;
          transition: 0.5s;
  text-transform: capitalize;
}
.collapse.navbar-collapse {
  padding: 0;
}
.nav.navbar-nav li:before {
    background: #a7a7a7 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: -6%;
    position: absolute;
    top: 50%;
    width: 12px;
	margin-top: -6px;
}
.nav.navbar-nav li:first-child:before {
    display: none;
}
.nav.navbar-nav li.active{
    color: #f4b85c;
}
.nav.navbar-nav li :hover, sub-menu li :hover{
    color: #f4b85c;
}
.nav.navbar-nav li.active:before{
    background: #f4b85c none repeat scroll 0 0;
}
.nav.navbar-nav li:hover:before{
    background: #f4b85c none repeat scroll 0 0;
}
#logout-form {
    display: none;
}
.search-btn input {
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
  color: #a8a8a8;
  font-size: 14px;
  height: 35px;
  padding-left: 5px;
  position: relative;
  width: 260px;
  margin-top: 18px;
}
.search-btn button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 0;
}
.fa.fa-search {
  bottom: 50%;
  color: #a8a8a8;
  font-size: 16px;
  margin-bottom: -15px;
  position: absolute;
  right: 6%;
}
.menu-area {
  border-bottom: 4px double #e5e3e3;
  border-top: 4px double #e5e3e3;
  margin-top: 23px;
position: relative;
background-color: #fff;
z-index:1;
}
.nav li a:focus, .nav li a:hover{
    background: transparent;
}
.is-sticky .menu-area {
  background: #fff;
  margin-top: 0;
  position: absolute;
  z-index: 1;
  border-bottom: none;
  border-top: none;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
}
.nav > li {
	position: relative;
	padding: 11px 0;
}
.sub-menu > li:before {
  display: none;
}
.sub-menu {
   position: absolute;
   opacity: 0;
   transition: 1s;
   visibility: hidden;
	width: 250px;
	background: #e5e3e3;
	z-index: 999;
    left: 0;
    top: 106%;
    padding: 15px;
}
.is-sticky .sub-menu {
    top: 100%;
}
.nav > li:hover > .sub-menu{
	opacity: 1;
	visibility: visible;
}
.sub-menu > li {
  font-size: 16px;
  padding: 5px 0px;
}
.sub-menu > li a{
	color: #787878;
}
#instafeed a {
  display: inline-block;
  margin: 10px;
  position: relative;
}
#instafeed img {
  height: 69px;
  width: 68px;
}
#instafeed .instagram-icon {
    color:#ffffff;
    text-align:center;
    line-height:188px;
    background-color: #e5e3e3;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: 1s;
            transition: 1s;
    width: 100%;
}
#instafeed a:hover .instagram-icon {
  opacity:1;
}
/*===================================== slider-area css start ===================================*/

.slider-area {
  margin-bottom: 50px;
  margin-top: 30px;
  padding-bottom: 22px;
}
.slider-content{
    background: url(../images/slide-bg.png) no-repeat scroll center center;
    height: 350px;
}
.slider-content-2{
    background: url(../images/search.jpg) no-repeat scroll center center;
    height: 400px;
	background-size: cover;
}
.slider-content-2 h1 {
    margin-top: -180px;
    font-size: 50px;
    font-weight: bolder;
}
.slider-content-2 p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.slide-text-border-content {
  background: #282828 none repeat scroll 0 0;
  margin-top: 105px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 16px;
}
.slide-text {
  border: 1px solid #fff;
  color: #fff;
  padding: 50px 25px 30px;
  text-align: center;
}
.slide-text h2 {
    font-family: droidsans;
    font-size: 30px;
    font-weight: bold;
}
.slide-text p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
    margin-top: 32px;
}
.slide-text > a {
    border: 1px solid #bfbebd;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.5s;
            transition: 0.5s;
}
.slide-text > a:hover{
    background-color: #f4b85c;
    border-color: #f4b85c;
}
.left.slide-control {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 45px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  width: 45px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.right.slide-control{
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 45px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 49%;
  width: 45px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.left.slide-control:hover, .right.slide-control:hover{
    background-color: #f4b85c;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/*======================================== slider-area css start ====================================*/

.about-photo-content {
    float: left;
}
.about-photo-content > img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}
.about-text-content {
    padding-left: 224px;
    padding-top: 10px;
}
.about-text-content h4 a {
    color: #1a1a1a;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
.about-text-content h4 a:hover{
    color: #f4b85c;
}
.about-text-content > p {
    color: #8c8b8b;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 18px;
    margin-top: 12px;
    font-family: 'PT Sans', sans-serif;
}
.social-link-about > a {
    background: #f4b85c;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin-right: 6px;
    padding-top: 5px;
    text-align: center;
    width: 30px;
}
.social-link-about > a:hover {
    background: #A7A7A7;
}
.about-area-content {
    padding: 20px 85px;
	box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
}
.about-area-all-content {
  border: 1px solid #e5e3e3;
  padding: 14px;
}

/*============================= category-area css start ====================================*/
.categories-area {
  margin: 70px 0px 10px 0px;
}
.category-text {
    text-align: center;
    padding: 30px 30px 15px;
	border: 1px solid #E5E3E3;
	border-top: none;
}
.comment {
    float: left;
}
.share {
    float: right;
}
.art {
    color: #909090;
    font-size: 12px;
    -webkit-transition:0.5s;
            transition:0.5s
}
.art:hover{
   color: #f4b85c;
}
.category-text > h4 a, .video-content-text h4 a {
    color: #252525;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition:0.5s;
            transition:0.5s;
    cursor:pointer;
}
.category-text > h4, .video-content-text h4{
    margin: 14px 0px;
}
.category-text > h4 a:hover, .video-content-text h4 a:hover{
   color: #f4b85c;
}
.category-text > p, .video-content-text p {
    color: #606060;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
}
.category-link > a {
    border: 1px solid #9a9a9a;
    color: #606060;
    font-size: 14px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: 0.5s;
            transition: 0.5s;
}
.category-link > a:hover {
    background: #F4B85C;
    border-color: #F4B85C;
    color: #fff;
}
.comment i, .share i {
    font-size: 12px;
}
.comment i > span {
    font-size: 12px;
    padding-left: 8px;
}
.comment i {
    margin-right: 13px;
}
.share > span {
    font-size: 14px;
}
.share > a {
    background: #F4B85C;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    margin-right: 4px;
    text-align: center;
    width: 20px;
}
.share a:hover{
	background: #a7a7a7;
}
.share-comment-section {
  overflow: hidden;
  padding-top: 35px;
}
.category-img > img {
    width: 100%;
}
.category-overlay {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: 0.5s;
            transition: 0.5s;
    width: 100%;
}
.category-img {
    position: relative;
}
.category-img:hover .category-overlay {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.category-detail {
    background: #fff;
	-webkit-transition: 0.5s;
	        transition: 0.5s;
}
.category-detail:hover {
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.2);
}
.category-border-content {
    border: 1px solid #E5E3E3;
    padding: 14px;
}
.category-widget-single-detail {
    background: #fff;
    border: 1px solid #e5e3e3;
    padding-bottom: 30px;
    padding-left: 34px;
    padding-right: 28px;
    padding-top: 0px;
}
.category-title,  .popular-post-title {
    background: url("../images/widget-img.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    text-align: center;
	margin-top: 30px;
}
.category-title >  h4 , .popular-post-title h4 {
  color: #252525;
  font-size: 18px;
  margin-bottom: 16px;
  padding-bottom: 25px;
  -webkit-transition:0.5s;
          transition:0.5s;

}
.category-title >  h4:hover, .popular-post-title h4:hover{
    color: #f4b85c;
}
.left-portion {
    float: left;
    font-size: 15px;
    line-height: 26px;
}
.right-portion {
    float: right;
    font-size: 15px;
    line-height: 26px;
}
.left-portion li a, .right-portion li a {
    color: #999999;
}
.left-portion li a:hover, .right-portion li a:hover{
    color: #f4b85c;
}
.category-list {
    overflow: hidden;
}
.category-widget-single {
    border: 1px solid #e5e3e3;
    padding: 13px;
}
.category-widget-single-ad > a img {
    width: 100%;
}
.category-widget-single {
  margin-bottom: 50px;
}
.category-widget-single-ad {
    position: relative;
}
.category-widget-single-ad:after {
    background-color: #000;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    top: 0;
    width: 100%;
	-webkit-transition:3s;
	        transition:3s;
}
.category-widget-single:hover .category-widget-single-ad:after{
	opacity: 0;
	filter: alpha(opacity=0);
}

/*====================================  video-area css start ======================================*/

.video-area-content-detail {
    position: relative;
    height: 100%;
}
.video-area-content-detail > a {
    background: #000 none repeat scroll 0 0;
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
}
.video-area-content-detail a i {
    color: #fff;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 12px;
}
.video-content-text{
	text-align: center;
    padding: 25px 20px 26px;
	border: 1px solid #E5E3E3;
	background: #fff;
        height: 320px;
}
.video-area-border-content {
    border: 1px solid #E5E3E3;
    overflow: hidden;
    padding: 15px 0 15px 0px;
}
.col-md-6.fix {
  padding-left: 0;
}
.instagram-title > h4 {
    color: #252525;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.instagram-content {
    border-top: 4px double #e5e3e3;
    padding-top: 14px;
}
.instagram-icon i {
  left: 50%;
  margin-left: -5px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: auto;
  color: #666666;
}
.follow-me-section {
    border-bottom: 4px double #e5e3e3;
    border-top: 4px double #e5e3e3;
    margin: 25px 15px 35px 15px;
    padding: 22px 0px;
    text-align: center;
}
.follow-me-social-link a{
	background: #F4B85C;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    margin-right: 4px;
    text-align: center;
    width: 30px;
	padding-top: 5px;
}
.follow-me-social-link a:hover{
	background: #a7a7a7;
}
.follow-me-title h4{
	color: #252525;
    font-family: DroidSans;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.vbox-next, .vbox-prev {
    color: #fff;
    text-indent: 0px;
    margin-top: 0px;
}
.vbox-close {
    text-indent: 0px;
}
iframe {
    width: 100%;
    frameborder: "0";
}
/*==============================  feature-posts-area css start =======================================*/

.popular-post-title > h4 {
    font-weight: bold;
    text-transform: uppercase;
}
.popular-post-single-text {
    padding-left: 110px;
	margin-top: 5px;
}
.popular-post-single-img {
    float: left;
}
.popular-post-single-text > span {
    color: #c3c3c3;
    font-size: 12px;
}
.popular-post-single-text > p {
    color: #2e2e2e;
    font-size: 16px;
    margin-top: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
            transition: 0.5s;
    cursor: pointer;
}
.popular-post-single-text > p:hover {
    color: #F4B85C;
}
.popular-post-single {
  display: inline-block;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
}
.popular-post-single.bottom {
    border-top: 4px double #e5e3e3;
	width: 100%;
}
.popular-post-single.top{
	border-bottom: 4px double #e5e3e3;
	width: 100%;
}
.popular-post-content {
    border: 1px solid #e5e3e3;
}
.popular-post-border-content {
  border: 1px solid #e5e3e3;
  padding: 15px;
}
/*==============================  audio and passion-area css start  ===============================*/
.audio-area{
	margin-top: 70px;
	margin-bottom: 70px
}
.my-passion-area .category-text > h4 a{
	font-size: 17px;
}
.right.slide-control.photograph {
  font-size: 24px;
  height: 35px;
  left: 0;
  margin-top: -16px;
  padding-top: 0;
  top: 50%;
  width: 35px;
}
.left.slide-control.photograph{
  font-size: 24px;
  height: 35px;
  right: 0;
  margin-top: -16px;
  padding-top: 0;
  top: 50%;
  width: 35px;
}
iframe {
  width: 100%;
  frameborder:"0"
}
/*================================ asked-section-area css start ===================================*/
.asked-section-area {
    margin-top: 70px;
}
.asked-section-content > span {
    color: #999999;
    font-size: 15px;
}
.asked-section-content > p {
    color: #333333;
    font-family: PTSans Regular;
    font-size: 18px;
    padding-bottom: 25px;
    padding-top: 15px;
}
.asked-section-content p span {
    color: #999999;
    font-size: 14px;
    font-family: 'Droid Sans', sans-serif;
}
.asked-section-content > h4 {
    background: #eee none repeat scroll 0 0;
    color: #000000;
    font-size: 18px;
    margin-bottom: 24px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-top: 12px;
}
.comment-like {
    float: right;
}
.comment-like > p a {
    color: #999999;
    display: inline-block;
    font-family: PTSans Regular;
    font-size: 12px;
    margin-right: 10px;
}
.comment-like p i {
    margin-right: 6px;
}
.comment-like > p {
  display: inline;
}
.ask {
    color: #999999;
    font-size: 15px;
}
.comment-text > p {
    color: #333333;
    font-family: PTSans Regular;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}
.comment-text {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e3e3;
    padding: 30px 12px 12px;
}
.comment-bar-border {
    border: 1px solid #e5e3e3;
    padding: 12px;
}
.asked-section-border-content {
    border: 1px solid #e5e3e3;
    padding: 35px 20px 45px;
}

/*================================  footer-top-area css start ====================================*/

.footer-top-area {
    margin-top: 70px;
	padding-top: 55px;
	padding-bottom: 40px;
	border-bottom: 4px double #e5e3e3;
	border-top: 4px double #e5e3e3;
}
.footer-social-icon a {
    background: #f4b85c none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
	margin-top: 10px;
	margin-right: 4px;
}
.footer-social-icon a:hover{
	background: #a7a7a7;
}
.footer-social-icon i {
    padding: 0;
    font-size: 12px;
}
.footer-logo {
	margin: 58px 0px;
}
.footer-content{
	margin-bottom: 2px;
}
.subscription-input input  {
    border: 4px solid #e5e3e3;
    font-size: 16px;
    height: 50px;
    margin-top: 22px;
    text-align: center;
    text-transform: capitalize;
    width: 270px;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}
.subscription-input input[Type="submit"] {
  background: #666666 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  border: none
}
.subscription-input input:hover {
  background: #f4b85c none repeat scroll 0 0;
  border-color: #f4b85c;
}
.footer-title{
	font-size: 18px;
	text-transform: uppercase;
	color: #323232;
	margin-top: 20px;
    -webkit-transition: 0.5s;
            transition: 0.5s;
    cursor: pointer;
}
.footer-title:hover{
   color: #F4B85C;
}
.recent-post-single {
    margin-bottom: 30px;
    margin-top: 22px;
}
.recent-post-img {
    float: left;
}
.recent-post-text {
    padding-left: 62px;
}
.recent-post-text > span {
    color: #b2b2b2;
    font-size: 12px;
}
.recent-post-text a > p {
    color: #2b2b2b;
    font-size: 14px;
    text-transform: capitalize;
    -webkit-transition: 0.5s;
            transition: 0.5s;
}
.recent-post-text a > p:hover, .footer-category li a:hover, .footer-bottom-text span a:hover, .comment-like > p a:hover
{
   color: #F4B85C;
}
.footer-category li a {
    color: #ab9898;
    font-size: 14px;
    line-height: 24px;
}
.footer-category > ul {
    margin-top: 22px;
}
/*===================================  footer-bottom-area css start ============================*/
.footer-bottom-text {
    margin-bottom: 35px;
    margin-top: 30px;
}
.footer-bottom-text > p {
    color: #aeadad;
    font-size: 13px;
    line-height: 20px;
}
.footer-bottom-text span a{
    color: #3e3e3e;
}
/*================================== index-two page css ==================================*/
.section-padding {
  margin-bottom: 60px;
}
.index-one .slider-content, .index-one .slider-content-2, .index-two .slider-content, .index-two .slider-content-2{
	background-size: cover;
}
.index-one .video-content-text{
    padding: 10px 13px;
    height: auto;
}
.index-one .video-content-text h4 {
    margin: 5px 0px;
}
.index-one .video-content-text p {
  margin: 10px auto 16px;
}
.index-one .share-comment-section {
  padding-top: 32px;
}
.index-one .video-area-border-content {
  padding: 15px;
}
.index-two .footer-bottom-text {
    margin-bottom: 35px;
    margin-top: 30px;
}
.index-two .footer-bottom-text > p {
    color: #aeadad;
    font-size: 13px;
    line-height: 20px;
}
.index-two .footer-bottom-text span a{
    color: #3e3e3e;
}
.index-two .left.slide-control, .index-two .right.slide-control{
  right: 110px;
}
.index-two .instagram-image-single > img {
  width: 100%;
}
.index-two .video-content-text {
  height: auto;
  padding-bottom: 20px;
  padding-top: 25px;
}
.index-two .follow-me-section {
  margin-left: 0px;
  margin-right: 0px;
}
.index-two .share-comment-section {
  padding-top: 47px;
}
/*================================== read more page css ==================================*/
.category-detail.category{
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.1);
}
.share-comment-section.floatright {
  float: right;
  padding-bottom: 60px;
  padding-top: 85px;
}
.tag.floatleft {
  float: left;
  padding-top: 85px;
}
.tag.floatleft span{
    color: #909090;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}
.tag.floatleft > a {
  border: 1px solid #e5e3e3;
  color: #909090;
  margin-left: 6px;
  padding: 6px 10px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.recent-post-content.clearfix {
  border-bottom: 1px solid #e5e3e3;
  border-top: 1px solid #e5e3e3;
  padding: 20px 0;
}
.recent-post-single.single-page{
  float: left;
  margin: 50px 8px 30px 10px;
  width: 200px;
}
.recent-post-text.single-page{
  margin-left: 65px;
  padding-left: 0;
  text-align: left;
}
.recent-post-content.clearfix > h4 {
  color: #252525;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}
.recent-post-content.clearfix > h4:hover {
  color: #f4b85c;
}
.user-comments > p {
    text-align: left;
}
.user-comments {
    padding: 40px 0;
}
.user-comments p i {
    font-size: 18px;
}
.user-comments span {
    color: #363636;
    font-size: 18px;
    font-weight: bold;
    margin-left: 9px;
    text-transform: capitalize;
}
.single-user-img {
  float: left;
}
.single-user-comment-text {
  padding-left: 70px;
  text-align: left;
}
.single-user-comment.clearfix {
  margin-top: 30px;
  padding: 18px 25px 24px 20px;
  background-color: #f1f1f1;
}
.single-user-comment-text > h4 a {
  color: #252525;
  font-size: 16px;
  padding-right: 15px;
  position: relative;
}
.single-user-comment-text a::before {
  background: #909090;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
.single-user-comment-text h4 span {
  color: #969696;
  font-size: 12px;
}
.single-user-comment-text > p {
  color: #606060;
  font-size: 13px;
  line-height: 18px;
  padding-top: 5px;
}
.reply-section > h4 {
  color: #252525;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 35px;
}
.reply-section input, .contact-content input {
  border: 1px solid #e5e3e3;
  font-size: 14px;
  height: 36px;
  padding-left: 10px;
  text-align: left;
  width: 49%;
}
.reply-section input[type="email"], .contact-content input[type="email"] {
    margin-left: 2%;
    width: 48%;
    text-transform: capitalize;
}
.web-address input, .contact-content .web-address input {
  border: 1px solid #e5e3e3;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}
.reply-section textarea, .contact-content textarea {
  color: #aba7a7;
  height: 130px;
  padding: 10px 8px;
  width: 100%;
  border: 1px solid #e5e3e3;
}
.reply-section input[Type="submit"], .submit-btn > input {
  background-color: #5a5a5a;
  border: none;
  color: #fff;
  margin-bottom: 90px;
  margin-top: 20px;
  padding: 10px 70px;
    transition: 0.5s;
  width: auto;
  text-transform: capitalize;
}
.submit-btn > input[Type="submit"]{
    width: auto;
}
.reply-section input[Type="submit"]:hover {
  background: #F4B85C none repeat scroll 0 0;
  color: #fff;
}
.category-text.read-more.clearfix > p {
  color: #606060;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
	font-family: PTSans Regular;
}
.quote p {
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
	font-family: PTSans Regular;
}
.quote p i {
  color: #f6d4a0;
  font-size: 25px;
  padding-left: 6px;
  padding-right: 6px;
}

/*================================== contact page css ==================================*/

.contact-content input {
    width: 49%;
    margin-right: 0px;
}
.contact-content h4{
    text-align: center;
    margin: 35px 0px;
    font-weight: bold;
   text-transform: capitalize;
}
.submit-btn > input {
    margin-top: 20px;
    margin-bottom: 70px;
    transition: 0.5s;
    text-transform: capitalize;
}
.submit-btn > input:hover{
    background: #f4b85c none repeat scroll 0 0;
}
.contact-content {
  border: 1px solid #e5e3e3;
  padding: 0px 90px;
}
.contact-content-border {
  border: 1px solid #e5e3e3;
  margin-top: 50px;
  padding: 15px;
}
/*==================================== about-page css start ==================================*/
.about-information-area-content {
    border: 1px solid #e5e3e3;
    overflow: hidden;
    padding: 60px 0 60px 50px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.1);
}
.about-information-area-border {
    border: 1px solid #e5e3e3;
    padding: 15px;
    margin-top: 30px;
}
.about-personal-information-text-content > h4 a {
    font-size: 26px;
    font-weight: bold;
    transition: 0.5s;
    color: #1a1a1a;
}
.about-personal-information-text-content > h4 a:hover{
    color:  #f4b85c;
}
.about-personal-information-text-content > p {
    color: #8a8b8b;
    font-family: "PT Sans",sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-top: 40px;
    text-align: left;
}
.about-personal-information-text-content > p:nth-child(3) {
    color: #606060;
    font-size: 18px;
    font-weight: bold;
}
.about-indetails li {
    color: #8c8b8b;
    font-size: 14px;
    margin-bottom: 5px;
}
.about-self-content {
    text-align: center;
}
.personal-information {
  position: relative;
}
.about-content {
  left: 50%;
  margin-left: -87px;
  margin-top: -90px;
  position: absolute;
  top: 0;
}
.about-indetails > ul {
  border: 1px solid #e5e3e3;
  margin-top: 79px;
  padding: 100px 15px 40px;
}
.follow-me-section.my-information {
  margin: 40px 0;
}

/*==================================== caegory-page css start ==================================*/
.about-area-content.category-page-post {
    padding: 20px;
    text-align: center;
}
.about-photo-content.category-page-post {
    float: none;
}
.about-text-content.category-page-post {
    padding-left: 10px;
}
.about-area-all-content.category-page-post {
    margin-bottom: 40px;
}
.video-area, .feature-post-area {
  margin-bottom: 40px;
}
.about-photo-content.category-page-single {
  float: none;
  margin-bottom: 15px;
}
.categories-area.category-page-single{
    margin-top: 0px;
}
.slider-area.category-page-single {
    height: 262px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.table.category-page-single {
    display: table;
    height: 100%;
    width: 100%;
}
.table-cell.category-page-single {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.table-cell.category-page-single h2 {
  background-color: #e5e3e3;
  color: #252525;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

/*==================================== single-page css start ==================================*/
.single-page-area {
    margin-top: 70px;
}


/* Edit profile page css start */

#profile-container {
    padding: 30px 20px 30px 20px;
}

#avatar-input {
    display: none;
}

#edit {
    padding-top: 30px;
}

#name-head {
    margin-top: 20px;
    margin-bottom: 10px;
}
